* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #000046 0%, #1cb5e0 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    color: #ffffff;
}

header {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background: #333;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s  ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    background: #fff;
    color: black;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-right: 60px;
    padding: 8px 16px;
    border-radius: 20px;
    background: #333;
}

nav a:hover {
    color: #333;
    background: rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 20px;
}

.resume-button {
    background: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.resume-button:hover {
    transform: scale(1.1);
    background: #ffffff;
    color: black;
}

.container{
    display: flex;
    flex-direction: space-between;
    align-items: center;
    margin: 80px 50px;
    padding: 20px;
    max-width: 2000px;
    gap: 80px;
}


.text-content {
    margin-top: 120px;
    padding-right: 20px;
    text-align: justify;
    animation: slideInFromLeft 1s ease-out;
}

.intro{
    font-size: 21px;
    margin-top: 20px;
    text-align: justify;
    
}

.image-content {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: 100px;
    width: 350px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
    animation: slideInFromRight 1s ease-out;
}

.profile:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}